<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="default" connectionString="Data Source=localhost;User ID=sa;Password=123456; database=SmoONE4;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="default" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.7.181;database=SmoONE;uid=sa;pwd=searching;" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="default" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;database=SmoONE3;uid=sa;pwd=searching;" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="default" providerName="System.Data.SqlClient" connectionString="Data Source=10.117.0.9:1433;database=SmoONE;uid=smoone;pwd=smoone1234;" />
  </connectionStrings>-->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>